@charset "utf8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
    padding: 3px 1px;
}

a{
    font-weight: bolder ;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration:underline dotted blue;
    color:blue;
}
a:active{
    color: darkblue;
    text-decoration: underline dotted darkblue;
}

body{
    padding: 1% 5% ;
}



.obr{
    color: red;
    font-weight: bolder;
    display: inline;
}

header{
    margin: 5px;
    padding: 3px;
    text-align: center;
}

nav{
    margin: 3px;
    padding: 2px;
}


main{
    margin: 5px;
    padding: 5px;
}

article{
    margin: 10px 5px;
    padding: 5px 10px ;
    border-radius: 20px;
    background-color: rgba(173, 216, 230, 0.473);
}

footer{
    margin: 2em 1em;
    border-top: solid black 1px;
    padding: 5px;
    text-align: center;
}